<section id="search-menu">
  <h3 class="search-title">Search your favourite Album</h3>
  <form class="search-box">
    <input class="search-box-text" placeholder="Search Album">
    <button class="search-box-button"><i></i></button>
  </form>
  <div id="search-results">
  </div>
</section>